<h2>Sign up</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <form>
    <fieldset class="form-group">
    <input id="email" placeholder="Enter email">
    <small class="text-muted">We'll never share your email with anyone else.</small><br>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </fieldset>
  <fieldset class="form-group">
  <input id="password" placeholder="Enter Password"><br>
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>
  </fieldset>
  <fieldset>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</fieldset>
<fieldset class="actions">
  <%= f.submit "Sign up" %>
</fieldset>
  </form>
  <% end %>

  <%= render "devise/shared/links" %>
